<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tree" name="Media Center Tree Extensions" schema="schema/tree.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.lecousin.neufbox.mediacenter.eclipse.SharedDataView"
            icon="images/icon.bmp"
            id="net.lecousin.neufbox.mediacenter.eclipse.SharedDataView"
            name="NeufBox Media Center"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:Normal">
         <dynamic
               class="net.lecousin.neufbox.mediacenter.eclipse.bar.BarContribution"
               id="net.lecousin.neufbox.mediacenter.bar">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
